<div class="div">
  <div class="div-2">
    <div class="div-3"></div>
    <div class="div-4"><div class="div-5"><img src="https://media.discordapp.net/attachments/931947278934114437/932165666256068658/Blank_It_1.png" class="img"></div></div>
    <div class="div-6">
      <div class="div-7">
        <div class="builder-columns columns">
          <div class="builder-column column">
            <div class="div-8">
              <div class="div-9">
                
                  {% for data in data %}
                    {{ data }}
                  {% endfor %}
                
                <!-- The _____________ is the powerhouse of the cell. -->
              </div>

              <div class="div-10">
                <!-- <div class="builder-columns columns">
                  <div class="builder-column column-2">
                    <div class="button-btn-primary-color-btn-r">
                      Enter Text Here
                    </div>
                  </div>
                  <div class="builder-column column-2">
                    <div class="button-btn-primary-color-btn-r">
                      Next Question
                    </div>
                  </div> -->

                  <form method="submit">
                    <div class="div-11">
                      <input type="submit" class="button-btn-primary-color-btn-r" value="New Question">
                    </div>
								  </form>

                  <form method="POST">
                    <div class="div-11">
                      <input type="submit" class="button-btn-primary-color-btn-o" value="Back">
                    </div>
							    </form>

                  <!-- <div class="builder-column column-3">
                    <div class="button-btn-primary-color-btn-o">Submit</div>
                  </div> -->
              </div>
            </div>
          </div>

          <div class="builder-column column">
            <div class="div-11">
              <div class="builder-columns columns">
                <div class="builder-column column-5">
                  <div class="div-12">
                    <picture>
                      <source
                        srcset="
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=100   100w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=200   200w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=400   400w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=800   800w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=1200 1200w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=1600 1600w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?format=webp&width=2000 2000w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42
                        "
                        type="image/webp"
                      />

                      <img
                        src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42"
                        srcset="
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=100   100w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=200   200w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=400   400w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=800   800w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=1200 1200w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=1600 1600w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42?width=2000 2000w,
                          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F43f06f8ac53a4567a0d2b0f9f1438f42
                        "
                        class="image"
                      />
                    </picture>

                    <div class="builder-image-sizer image-sizer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .div {
    /* display: flex;
    flex-direction: column; */
    max-width: 3000px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-2 {
    /* display: flex;
    flex-direction: column; */
    max-width: 3000px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(250, 250, 250, 1);
    padding-right: 0px;
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    max-width: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 136px;
    padding-left: 136px;
  }
  .div-5 {
    display: flex;
    flex-direction: row;
    max-width: 106px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 11px;
    padding-bottom: 11px;
    color: rgba(37, 43, 66, 1);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    font-family: Montserrat, sans-serif;
  }
  .div-6 {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: center;
  }
  .div-7 {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
  }
  .columns {
    display: flex;
  }
  @media (max-width: 999px) {
    .columns {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(53.66% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column {
      width: 100%;
    }
  }
  .div-8 {
    display: flex;
    flex-direction: column;
    max-width: 741px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px
  }
  .div-9 {
    max-width: 789px;
    color: rgba(37, 43, 66, 1);
    font-size: 47px;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    font-family: Verdana, sans-serif;
  }
  .div-10 {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin-top: 30px;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(77.86% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-2 {
      width: 100%;
    }
  }
  .button-btn-primary-color-btn-r {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    justify-content: flex-start;
    border-radius: 37px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 36px;
    margin-left: 36px;
    padding-left: 36px;
    background-color: rgba(241, 120, 182, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    font-family: Montserrat, sans-serif;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.05% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-3 {
      width: 100%;
    }
  }
  .button-btn-primary-color-btn-o {
    display: flex;
    max-width: 100px;
    /* justify-content: flex-center;
    align-items: flex-center; */
    border-radius: 37px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 36px;
    padding-left: 36px;
    border-color: rgba(241, 120, 182, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(239, 93, 168, 1);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin-left: -25px
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(43.37% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-11 {
    display: flex;
    flex-direction: column;
    max-width: 599px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(101.58% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-12 {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 579px;
  }
  .image {
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 116.2348877374784%;
    pointer-events: none;
    font-size: 0;
  }

  img {
  height: 100px;
  width: 3000px;
  object-position: left;
  }
</style>
